# (실습) 데이터프레임 핵심

In [ ]:
import numpy as np
import pandas as pd

**문제 1**

아래의 딕셔너리 `data`를 이용하여 데이터프레임`df1`를 생성하라.

In [ ]:
data = {'A': [0, 5, 15, 20, 25, 30, 35, 40],
        'B' : [1, 2, 3, 4, 5, 6, 7, 8]}

In [ ]:
# None 을 적절한 표현식으로 대체하라.

df1 = None

df1

**문제 2**

다음 두 리스트를 이용하여 `C`와 `D`열을 `df1`에 추가하라.

In [ ]:
C = [3, 3, 3, 3, 3, 3, 3, 3]
D = [4, 2, 9, 1, 20, 3, 15, 17]

In [ ]:
# pass 를 적절한 명령문으로 대체하라.

pass

df1

**문제 3**

`df1`의 각 열의 합을 계산하는 한줄 코드를 작성하라.

In [ ]:
# pass 를 한줄 코드로 대체하라.

pass

**문제 4**

`df1`의 각 행의 합을 계산하는 한줄 코드를 작성하라.

In [ ]:
# pass 를 한줄 코드로 대체하라.

pass

**문제 5**

`A`, `B`, `D`열에서 행 인덱스가 2, 3, 4인 자료를 추출하는
한줄 코드를 작성하라.

In [ ]:
# pass 를 한줄 코드로 대체하라.

pass

**문제 6**

`df1`에 `K`열을 추가하여라. 이때, `K`열의 각 항목은 `B`열의 각 항목 곱하기 3이다.

In [ ]:
# pass 를 한줄 코드로 대체하라.

pass

df1

**문제 7**

`df1`에 `R`열을 추가하여라. 
이때, `R`열의 각 항목은 균등분포에 따라 `[0, 1)` 구간에서 선택된 임의의 수로 구성된다.

힌트: `numpy.random.rand()`

In [ ]:
# pass를 한줄 코드로 대체하라.

pass

df1

**문제 8**

`df1`에서 `C`열에 인덱스가 1, 3, 5인 자료의 값을 6으로 변경하여라.

In [ ]:
# pass 를 한줄 코드로 대체하라.

pass

df1

**성적 데이터 분석**

학생 100명의 국어, 영어, 수학, 사회, 과학 점수가 들어 있는
`score.txt` 파일을 다운로드 한다.

- 다운로드 경로 지정

In [ ]:
from pathlib import Path

data_path = Path() / "data"

data_path.mkdir(parents=True, exist_ok=True)

- 다운로드 함수 선언

In [ ]:
from urllib.request import urlretrieve

# 파일 서버 기본 주소
base_url = "https://raw.githubusercontent.com/codingalzi/datapy/master/jupyter-book/data/"

def myWget(filename):
    # 다운로드 대상 파일 경로
    file_url = base_url + filename
    
    # 저장 경로와 파일명
    target_path = data_path / filename
    
    return urlretrieve(file_url, target_path)

* `score.txt` 파일 다운로드

In [ ]:
myWget("score.txt")

파일의 내용을 데이터프레임으로 다음과 같이 불러온다.

In [ ]:
df_score = pd.read_csv(data_path / 'score.txt', header=0)

In [ ]:
df_score

**문제 9**

첫째 열의 라벨인 `# 국어` 를 `국어`로 수정하라.

In [ ]:
# pass 를 한줄 코드로 대체하라.

passs

df_score

**문제 10**

`df_score`의 처음부터 5개의 행을 확인하라.

힌트: `head()` 메서드

In [ ]:
# pass 를 한줄 코드로 대체하라.

pass

**문제 11**

`df_score`의 마지막 10개의 행을 확인하라.

In [ ]:
# pass 를 한줄 코드로 대체하라.

pass

**문제 12**

국어 점수가 90점 이상인 학생들의 데이터만 추출하라.

In [ ]:
# pass 를 한줄 코드로 대체하라.

pass

**문제 13**

각 과목에서 10점 이하의 값들은 `np.nan`으로 변경하여라.

In [ ]:
# pass 를 한줄 코드로 대체하라.

pass

df_score

**문제 14**

각 열에 있는 결측치의 수를 확인하라.

In [ ]:
# pass 를 한줄 코드로 대체하라.

pass

**문제 15**

결측치의 개수가 20%인 이하인 열들만 담은 데이터프레임`df_score_20`을 만들어라.

In [ ]:
# pass와 None을 각각 적절한 코드와 표현식으로 대체하라.

pass
df_score_20 = None

df_score_20